.search_audio {
    text-align: center;
    margin: 10px 0;
}

.search_audio input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #eee;
    max-width: 200px;
    width: 170px;
    transition: width 0.2s linear;
}

.search_audio input:focus {
    box-shadow: 0 0px 20px 0 rgba(252, 169, 169, 0.6);
    width: 200px;
}

.search_audio input::placeholder {
    font-size: 14px;
}